* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-content: flex-start;
  align-items: baseline;
  height: 60vh;
  max-width: 80%;
  margin: 10% auto;
}

.slider {
  flex: 0 0 100%;
  overflow: hidden;
  /* clip-path: inset(0 75% 0 0); */
  background-color: transparent;
  height: 100%;
  display: flex;
}

.wrapper > input {
  display: none;
}
.slides {
  border: 1px solid white;
  border-radius: 20px;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
  flex: 0 0 100%;
  order: 3;
  animation: animation_rigth;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.slide1 {
  background-image: url(./img/tumblr_lqtbu3k4Zw1qfjjglo1_500.gif);
}
.slide2 {
  background-image: url(./img/tumblr_lrsbvqwkG61qfjjglo5_250.gif);
}
.slide3 {
  background-image: url(./img/tumblr_lsyqvhWrOq1qfjjglo1_400.gif);
}
.slide4 {
  background-image: url(./img/tumblr_lzr477qbIx1qfjjglo1_r1_500.gif);
}
.slide5 {
  background-image: url(http://habrastorage.org/files/53c/ff6/c1c/53cff6c1caf842368c70b8ef892d8402.jpg);
}

.slides {
  background-position: center;
  background-size: 100% 100%;
}
@keyframes animation_rigth {
  0% {
    order: 1;
    margin-right: 0;
  }
  98% {
    order: 1;
    /* margin-right: -100%; */
  }
  99% {
    /* margin-right: -100%; */
    order: 1;
  }
  100% {
    order: 3;
  }
}

@keyframes animation_left {
  0% {
    order: 2;
    transform: translateX(0px);
  }
  99% {
    transform: translateX(-100%);
    order: 2;
  }
  100% {
    order: 1;
    transform: translateX(0);
  }
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5 {
  animation: animation_left;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

.container_for_bulit {
  order: 3;
  gap: 10px;
  display: flex;
  align-items: center;
}
.bulit {
  margin: auto;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgb(126, 181, 245);
}
.container_bulit:hover .bulit {
  background-color: white;
}

#slide1:checked ~ .container_for_bulit label:nth-of-type(1) .bulit,
#slide2:checked ~ .container_for_bulit label:nth-of-type(2) .bulit,
#slide3:checked ~ .container_for_bulit label:nth-of-type(3) .bulit,
#slide4:checked ~ .container_for_bulit label:nth-of-type(4) .bulit {
  border: rgb(126, 181, 245) 3px solid;
  background-color: transparent;
}
#slide1:checked ~ .container_for_bulit label:nth-of-type(1):hover .bulit,
#slide2:checked ~ .container_for_bulit label:nth-of-type(2):hover .bulit,
#slide3:checked ~ .container_for_bulit label:nth-of-type(3):hover .bulit,
#slide4:checked ~ .container_for_bulit label:nth-of-type(4):hover .bulit {
  border-color: white;
  background-color: transparent;
}
.container_bulit {
  display: flex;
  cursor: pointer;
  height: 30px;
  z-index: 10;
}
.container_for_сommentToPicture {
  height: 1em;
  order: 2;
  width: 50%;
  color: white;
  font-size: 1.5em;
  line-height: 30px;
  display: flex;

  overflow: hidden;
}
.сommentToPictur {
  flex: 0 0 100%;
  animation: animation_rigth;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.сommentToPictur {
  order: 3;
  z-index: 0;
}
.сommentToPictur:first-child {
  order: 1;
}
#slide1:checked ~ .container_for_сommentToPicture > .picture1,
#slide2:checked ~ .container_for_сommentToPicture > .picture2,
#slide3:checked ~ .container_for_сommentToPicture > .picture3,
#slide4:checked ~ .container_for_сommentToPicture > .picture4 {
  animation: animation_left;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
@media (max-width: 400px) {
  .bulit {
    height: 0.7em;
    width: 0.7em;
  }
  .wrapper {
    margin: 10px auto;
    height: 30vh;
  }
  .slider {
    max-width: 100%;
    height: 100%;
  }
  .container_for_сommentToPicture {
    order: 3;
    width: 100%;
  }
  .container_for_bulit {
    order: 2;
    width: 100%;
    justify-content: center;
  }

  .container_for_сommentToPicture {
    height: auto;
    font-size: 1em;
  }
}
