body {
  background-color: grey;
  height: auto;
}
.slider {
  margin: 100px auto;
  max-width: calc(100% - 10%);
  height: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.container_for_img {
  order: 1;
  display: flex;
  width: 100%;
  max-height: 800px;
  border-radius: 20px;
  object-fit: contain;
  object-position: center;
  overflow: hidden;
}
.container_for_img img {
  height: auto;
  flex: 0 0 100%;
  object-fit: cover;
  z-index: 0;
  order: 3;
  animation: animation_rigth;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.container_for_img img:first-child {
  order: 1;
}
.container_for_img .active {
  z-index: 1;
  flex: 0 0 100%;
  animation: animation_left;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes animation_rigth {
  0% {
    order: 1;
    margin-right: 0;
  }
  98% {
    order: 1;
    /* margin-right: -100%; */
  }
  99% {
    /* margin-right: -100%; */
    order: 1;
  }
  100% {
    order: 3;
  }
}

@keyframes animation_left {
  0% {
    order: 2;
    transform: translateX(0px);
  }
  99% {
    transform: translateX(-100%);
    order: 2;
  }
  100% {
    order: 1;
    transform: translateX(0);
  }
}
.container_for_bulit {
  order: 3;
  gap: 10px;
  display: flex;
  align-items: center;
}
.bulit {
  margin: auto;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(126, 181, 245);
}
.container_bulit:hover .bulit {
  background-color: white;
}
.bulit.active {
  border: rgb(126, 181, 245) 3px solid;
  background-color: transparent;
}
.container_bulit:hover .bulit.active {
  border-color: white;
  background-color: transparent;
}

.container_bulit {
  height: 30px;
  width: 30px;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
}
.container_for_сommentToPicture {
  order: 2;
  width: 50%;
  color: white;
  font-size: 2em;
  line-height: 30px;
  display: flex;

  overflow: hidden;
}
.сommentToPictur {
  flex: 0 0 100%;
  animation: animation_rigth;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
.сommentToPictur {
  order: 3;
  z-index: 0;
}
.сommentToPictur:first-child {
  order: 1;
}
.сommentToPictur.active {
  animation: animation_left;
  animation-timing-function: ease-in-out;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}
@media (max-width: 600px) {
  .slider {
    max-width: 100%;
  }
  .container_for_сommentToPicture {
    order: 3;
    width: 100%;
  }
  .container_for_bulit {
    order: 2;
    width: 100%;
    justify-content: center;
  }
  .container_for_img img {
    width: 80%;
  }
  .container_for_сommentToPicture {
    font-size: 1.5em;
  }
}
